{% load static %}
<!--Footer Start-->
<div class="row mt-5 bg-light p-3">
    <div class="col-4">
        <h5>Address</h5>
        <hr>
        Itvedant Education Pune
        2nd Floor, Sai complex, Office No. 3, F.C Road,
        Opp. Roopali Hotel, Pune, Maharashtra, 411004<br><br>
        <p><i class="bi bi-telephone text-danger"></i>&nbsp;&nbsp;&nbsp;9987867568</p>
        <p><i class="bi bi-envelope text-danger"></i>&nbsp;&nbsp;&nbsp;abc@gmail.com</p>
    </div>
    <div class="col-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="index.html">Home</a></p>
        <p><a href="about.html">About</a></p>
        <p><a href="contact.html">Contact</a></p>
    </div>
    <div class="col-4">
        <h5>Connect Us</h5>
        <hr>
        <p><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a>&nbsp;Instagram</p>
        <p><a href="https://www.facebook.com/"><i class="bi bi-facebook text-primary-light-emphasis"></i></a>&nbsp;Facebook</p>
        <p><a href="https://www.twitter.com/"><i class="bi bi-twitter text-primary-light-emphasis"></i></a>&nbsp;Twitter</p>
    </div>
</div>
<!--Footer end-->


</div>

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>