{% extends 'base.html' %} 

{% block 'main' %}
{% load static %}

<!--Cart start-->
<div class="row mt-5">
    <div class="col-md-9">
      {% for x in data %}
      {% if forloop.counter == 1 %}
      <h5 class="bg-danger text-white p-2">Customer Details</h5>
      <p><b>Name:</b>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
      <p><b>Email ID:</b>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p>
      {% endif %}
      {% endfor %}

      {% for x in data %}
      <div class="row">
        <div class="col-md-4 mb-5 px-2">
          <img src="{{x.pid.pimage.url}}" class="img-thumbnail" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-8">
          <p><b>Product Name:</b>&nbsp;&nbsp;&nbsp;{{x.pid.name}}</p>
          <p><b>Price:</b>&nbsp;&nbsp;&nbsp;Rs. {{x.pid.price}}</p>
          <p><b>Category:</b>&nbsp;&nbsp;&nbsp;{{x.pid.cat}}</p>
          <p><b>Product Description:</b>&nbsp;&nbsp;&nbsp;{{x.pid.pdetails}}</p>
          <p><b>Qty:</b>
          <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
          <input type="number" value="{{x.qty}}">
          <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
          </p>
          <a href="/remove/{{x.id}}" class="btn btn-danger">Remove</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      <h5 class="bg-danger text-white p-2">Total Amount</h5>
      <p><b>Total&nbsp;({{items}}):</b>Rs. {{total}}</p>
      <hr>
      <p><b>Total Amount:</b>Rs. {{total}}</p>
      <a href="/placeorder" class="btn btn-danger">Place Order</a>
    </div>
  </div>
  <!--Cart end-->
{% endblock 'main' %}